
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #202e55;
 
 
}

.logo {
  width: 200px; /* Adjust size as needed */
  height: 200px;
}


/* .logo #part1 {

  animation: appear 1s ease-in-out 0s forwards;
}

.logou #part2 {

  animation: appear 10s ease-in-out 35s forwards;
}

.logo #part3 {
  animation: appear 1s ease-in-out 1s forwards;
} */

/* Add more animations for additional parts */

/* @keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: center;
  }
} */

/* styles/Loader.module.css */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform-origin: center;
  }
  to {
    opacity: 1;
    transform-origin: center;
  }
}

@keyframes expand {
  from {
    transform: scale(0);
    transform-origin: center;
    
  }
  to {
    transform: scale(1);
    transform-origin: center;
  }
}

/* @keyframes retract {
  from {
    transform: scale(1);
    transform-origin: center;
  }
  to {
    transform: scale(0);
    transform-origin: center;
  }
} */

.part {
  animation: fadeIn 2s ;
} 


/* .part-expanding {
  animation: expand 2s ease-in-out forwards;
} */

/* .part-retracting {
  animation: retract 2s ease-in-out forwards;
} */

/* .part3 {
animation-delay: 1s;
animation: fadeIn 4s ease-in-out, expand 4s ease-in-out forwards;
}
.part4 {
  
animation-delay: 0s;
animation: fadeIn 3s ease-in-out, expand 3s ease-in-out forwards;
} */



